.chat-container {
    min-height: 100%;
}

.chat-card {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 1em !important;
    margin-top: 2em;
}

.chat-grid {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.messages-grid {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.chat-grid > * {
    height:4em !important;
}